:root {
    --none: transparent;
    --color-30: rgb(30 30 30);
    --color-40: rgb(40 40 40);
    --scrollbar-thumb: rgb(60 60 60);
    --scrollbar-track: var(--background-standart);
    --background-standart: rgb(255 255 255);
    --header-box-shadow: rgb(0 0 0 / .1);
    --header-nav-before: rgb(30 30 30);
    --main-title: rgb(240 240 255);
    --main-block-info-border: rgb(0 0 0 / .2);
    --footer-box-shadow: rgb(0 0 0 / .1);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* @font-face {
    font-family: 'GoogleSans';
    src: url('fonts/GoogleSans_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'GoogleSans';
    src: url('fonts/GoogleSans_500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('fonts/GoogleSans_600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@keyframes main-container-open {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes block-info-flow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}